<div id="steps">
	<div>
		<div>
			<img src="{{ `./assets/imgs/${current_course?.logo}` }}" alt="course_logo" />
		</div>
		<h3>{{ current_course?.name }}</h3>
	</div>
	<div id="dot_list">
		@for (step of display_steps; track step.step_number) {
			@if (step.done) {
				<div class="dot done"></div>
			} @else {
				<div class="dot"></div>
			}
		}
	</div>
</div>
<div id="activity">
	<div id="exercise">{{ current_step?.exercise }}</div>
	<div id="console">
		<div id="logs">
			@for (log of display_logs; track log) {
				<div>{{ log }}</div>
			}
		</div>

		@if (is_step_passed) {
			<button id="next_button" (click)="next_button_clicked($event)">
				{{ is_last_step ? 'Finish' : 'Next' }}
			</button>
		}
	</div>
	<div id="code_zone">
		<button id="run_button" (click)="run_button_clicked($event)">Run</button>
	</div>
</div>
