@use 'variables';
@use 'tools';

:host {
	display: flex;
	flex-direction: column;
	height: 90%;

	& > #steps {
		height: 4rem;
		flex-basis: 4rem;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: variables.$base_gap * 4;
		color: variables.$main_text_color;

		& > div:first-of-type {
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: variables.$base_gap;

			& > div:has(> img) {
				height: 80%;
				aspect-ratio: 1;

				& > img {
					@include tools.img_contained;
				}
			}
		}

		& > #dot_list {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			gap: variables.$base_gap;

			& > .dot {
				background-color: gray;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				border: 2px solid variables.$main_text_color;
			}

			& > .done {
				background-color: variables.$main_button_color;
			}
		}
	}

	& > #activity {
		height: 100%;
		width: 100%;
		display: grid;
		grid-template-columns: 3fr 1fr;
		grid-template-rows: 1fr 3fr;
		gap: variables.$base_gap;
		padding: 0px variables.$base_gap / 2;
		overflow-y: auto;

		& > div {
			border-radius: 4px;
			border: 2px solid variables.$main_button_color;
		}

		& > #exercise {
			background-color: variables.$main_bg_color;
			color: variables.$main_text_color;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 1rem;
		}

		& > #code_zone {
			position: relative;
			overflow: scroll;
			& > button {
				@include tools.main_button;
				position: absolute;
				z-index: 1;
				bottom: 10px;
				right: 10px;
			}
		}

		& > #console {
			padding: 2%;
			gap: 2px;
			display: flex;
			flex-direction: column;
			color: white;
			grid-row: span 2;
		}
	}
}
