<!--Display course details-->
<div class="course_details">
	<div class="course_banner">
		<div><img alt="language" src="{{ data.logo }}" /></div>
		<h3>{{ data.name }}</h3>
		<div><img alt="level" src="{{ data.level }}" /></div>
	</div>
	<p>{{ data.description }}</p>
</div>

<!--Display recommended courses-->
<div>
	<h3>Recommended courses</h3>
	<div class="course_list">
		@for (course of data.dependencies; track course) {
		<button class="course_button" (click)="openNew(course.id)">
			<div><img alt="language" src="{{ course.logo }}" /></div>
			<p>{{ course.name }}</p>
			<div><img alt="level" src="{{ course.level }}" /></div>
		</button>
		}
	</div>
</div>

<!--Display start course button-->
<button class="main_button" mat-dialog-close [routerLink]="['/course', data.id]">
	Start course
</button>
