@use 'tools';
@use 'variables';

:host {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	@include tools.dialog;

	& button {
		width: 35%;
		padding: 0.5rem;
		align-self: flex-end;

		&.main_button {
			@include tools.main_button;
		}

		&.course_button {
			@include tools.course_button;
		}
	}

	& > .course_details {
		@include tools.flex_center;
		flex-direction: column;
		gap: 2rem;
		padding-top: 2rem;

		& > .course_banner {
			@include tools.flex_center;
			height: 4rem;
			background-color: variables.$light_bg_color;
			width: 80%;
			padding: 0.5rem;
			gap: 1rem;
			border-radius: 5px;

			& > div {
				height: 100%;
				aspect-ratio: 1;

				& > img {
					@include tools.img_contained;
				}
			}
		}
	}
}

h3 {
	font-size: variables.$h3_font_size;
}

.course_list {
	display: flex;
	flex-wrap: wrap;
	padding: 3%;
	gap: 10px;
}
