@font-face {
	font-family: Roboto;
	src: url(../../public/assets/fonts/RobotoMono/RobotoMono-VariableFont_wght.ttf); /* url of the font */
}

@font-face {
	font-family: Audiowide;
	src: url(../../public/assets/fonts/Audiowide/Audiowide-Regular.ttf);
}
