@use 'variables';

@mixin flex_center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin img_contained {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

@mixin button {
	@include flex_center;
	font-family: Roboto, sans-serif;
	border: 1px solid black;
	border-radius: 4px;
	font-size: variables.$menu_font_size * 1.2;
	padding: variables.$base_gap/2 variables.$base_gap;
	gap: variables.$base_gap;

	& > * {
		padding: 0 variables.$base_gap/2;
	}

	&:hover {
		cursor: pointer;
		filter: drop-shadow(0px 0px 2px variables.$main_button_color_light);
	}
}

@mixin main_button {
	@include button;
	background-color: variables.$main_button_color;

	&:hover {
		background-color: variables.$main_button_color_light;
	}
}

@mixin course_button {
	@include button;
	background-color: variables.$light_bg_color;
	height: 4rem;
	font-size: variables.$menu_font_size * 1.2;
	color: variables.$main_text_color;
	gap: variables.$base_gap;

	&:hover {
		background-color: variables.$lighter_bg_color;
	}

	& > div {
		height: 100%;
		aspect-ratio: 1;

		& > img {
			@include img_contained;
		}
	}
}

@mixin hoverable {
	&:hover {
		filter: drop-shadow(0px 0px 5px variables.$main_text_color);
		text-decoration: underline;
		text-underline-offset: 0.4rem;
		cursor: pointer;
	}
}

@mixin signform {
	@include flex_center;
	background-color: variables.$light_bg_color;
	width: variables.$form_width;
	border-radius: 5px;
	padding: variables.$base_gap;
	min-width: fit-content;

	& .eye_icon {
		cursor: pointer;
	}

	& fieldset {
		display: flex;
		flex-direction: column;
		gap: variables.$base_gap / 2;
		width: 100%;
		padding: variables.$base_gap;
		border-radius: 5px;

		& input {
			padding: 0px variables.$base_gap;
			height: 3rem;
			min-height: 3rem;
			font-family: Roboto, sans-serif;
			font-size: variables.$paragraph_font_size;
		}

		& > div {
			display: flex;
			align-items: center;
			gap: variables.$base_gap;
			width: 100%;

			& > input {
				flex-grow: 1;
			}

			& > div {
				font-size: 2rem;
			}
		}

		& > button {
			@include main_button;
			align-self: center;
			width: 50%;
		}

		& > legend {
			font-size: variables.$h3_font_size * 1.2;
		}

		& > label {
			flex: 1;
			font-size: variables.$menu_font_size;
		}
	}
}

@mixin dialog {
	background-color: variables.$main_bg_color;
	color: variables.$main_text_color;
	height: 80%;
	width: 60%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	border: solid 3px variables.$light_bg_color;
	border-radius: 5px;
	padding: 1rem;
}
