@use '../../../style_modules/variables';
@use '../../../style_modules/tools';
@use '../../../style_modules/fonts';

:host {
	@include tools.flex_center;
	height: 100%;
	color: variables.$main_text_color;
	font-family: Roboto, sans-serif;
}

form {
	@include tools.signform;
}
