@use 'variables';
@use 'tools';
@use 'fonts';

:host {
	@include tools.flex_center;
	height: 100%;
	color: variables.$main_text_color;
	font-family: Roboto, sans-serif;
}

form {
	@include tools.signform;
}
