@use '../../tools';
@use '../../variables';

dialog[open] {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background-color: variables.$main_bg_color;
	color: variables.$main_text_color;
	height: 80%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	border: solid 3px variables.$light_bg_color;
	border-radius: 5px;
	padding: 1rem;

	& button {
		@include tools.main_button;
	}

	& form {
		&:first-of-type {
			align-self: flex-start;
		}

		&:last-of-type {
			align-self: flex-end;
		}
	}

	& > .course_details {
		@include tools.flex_center;
		flex-direction: column;
		gap: 2rem;

		& > .course_banner {
			@include tools.flex_center;
			height: 4rem;
			background-color: variables.$light_bg_color;
			width: 80%;
			padding: 0.5rem;
			gap: 0.5rem;
			border-radius: 5px;

			& > div {
				height: 100%;
				aspect-ratio: 1;

				& > img {
					@include tools.img_contained;
				}
			}
		}
	}

	&::backdrop {
		background-color: rgba(50, 50, 50, 0.6);
		backdrop-filter: blur(3px);
	}
}
