@use '../../variables';
@use '../../tools';
@use '../../fonts';

$menu_margin: 30px;

:host {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: variables.$menu_height;
	background-color: variables.$secondary_bg_color;
	color: variables.$main_text_color;
	font-size: variables.$menu_font_size;
	position: sticky;
	top: 0;
}

.menu_left {
	@include tools.flex_center;
	height: 100%;
	gap: variables.$base_gap * 3;
	margin-left: variables.$base_gap * 3;
}

.logo_container {
	@include tools.flex_center;
	height: 60%;
	gap: variables.$base_gap;
}

.logo {
	height: 80%;
	object-fit: contain;
}

.menu_link {
	color: variables.$main_text_color;
	text-decoration: none;
	@include tools.hoverable;
	padding: variables.$base_gap;
}

button {
	@include tools.main_button;
	margin-right: variables.$base_gap * 3;
}
