@use '../../../style_modules/variables';
@use '../../../style_modules/tools';
@use '../../../style_modules/fonts';

:host {
	display: flex;
	color: variables.$main_text_color;
	align-self: center;
	width: 80%;
	height: 100%;
	padding-bottom: variables.$base_gap;
	overflow: scroll;

	& > fieldset {
		display: flex;
		flex-direction: column;
		flex: 1;
		max-width: fit-content;
		height: fit-content;
		padding: variables.$base_gap * 4;
		margin: variables.$base_gap * 4;
		gap: variables.$base_gap * 2;

		& > legend {
			padding: 0 variables.$base_gap;
		}

		& > div {
			@include tools.hoverable;
			display: flex;
			align-items: center;
			gap: variables.$base_gap;

			& > label {
				cursor: inherit;
			}

			& > input {
				cursor: inherit;
				appearance: none;
				background-color: variables.$light_bg_color;
				margin: 0;
				height: 1.2rem;
				aspect-ratio: 1;
				border-radius: 0.15rem;
				display: grid;
				place-content: center;
				transform: translateY(-0.075em);

				&::before {
					content: '';
					width: 0.8rem;
					height: 0.8rem;
					transform: scale(0);
					transform-origin: center;
					transition: 50ms transform ease-in-out;
					background-color: variables.$main_button_color;
					border-radius: 0.15rem;
				}

				&:checked::before {
					transform: scale(1);
				}
			}
		}
	}

	& > .all_courses {
		display: flex;
		flex-wrap: wrap;
		flex: 3;
		height: fit-content;
		margin-top: variables.$base_gap * 5;
		gap: variables.$base_gap * 2;
	}
}

.main_button {
	@include tools.main_button;
}

.course_button {
	@include tools.course_button;
}

.course_list {
	@include tools.flex_center;
	flex-wrap: wrap;
	gap: variables.$base_gap;
	width: 100%;
}
