@use 'variables';
@use 'tools';
@use 'fonts';

:host {
	@include tools.flex_center;
	flex-direction: column;
	gap: 20px;
	height: 100%;
	color: variables.$main_text_color;
	font-family: Roboto, sans-serif;
}

form {
	@include tools.signform;

	& > fieldset {
		min-width: 100%;
		max-height: 100%;
		width: 0;
		overflow: scroll;
	}

	& > fieldset > .error_zone {
		display: none;
		background-color: variables.$main_button_delete;
		color: variables.$main_bg_color;
		padding: variables.$base_gap;
	}
}

button.secondary_button {
	@include tools.main_button;
	font-size: variables.$paragraph_font_size;
	background-color: variables.$main_button_delete;
}
