<form [formGroup]="sign_in_form" (submit)="submitSignIn()">
	<fieldset>
		<legend>Connect to your account</legend>

		<label for="email">email</label>
		<input type="text" formControlName="email" />
		<label for="password">Password</label>
		<div>
			<input [type]="eye_open ? 'password' : 'text'" formControlName="password" />
			<lucide-angular
				[img]="eye_open ? Eye_open : Eye_closed"
				[size]="35"
				(click)="togglePassword($event)"
				class="eye_icon"
			></lucide-angular>
		</div>
		<button type="submit" class="main_button">Connection</button>
		<div class="error_zone"></div>
	</fieldset>
</form>
<button class="secondary_button" [routerLink]="['/sign-up']">or create a free account</button>
