<fieldset>
	<legend><h3>Tags</h3></legend>
	@for (tag of display_tags; track tag) {
	<div>
		<input
			checked
			(change)="filterCourses($event)"
			type="checkbox"
			id="{{ tag }}"
			name="{{ tag }}"
		/>
		<label for="{{ tag }}">{{ tag }} - {{ sortTags[tag] }}</label>
	</div>
	}
</fieldset>
<div class="all_courses">
	@for (course of filtered_list; track course) {
	<button class="course_button" (click)="openDialog(course)">
		<div><img alt="language" src="{{ course.logo }}" /></div>
		<p>{{ course.name }}</p>
		<div><img alt="level" src="{{ course.level }}" /></div>
	</button>
	}
</div>
