<div id="user_main">
	<div>
		<img src="{{ user.profile_photo }}" alt="profile" aria-hidden="true" />
	</div>
	<h3>{{ user.username }}</h3>
</div>
<div id="user_stats">
	<p>Courses completed : {{ user.courses_completed.length }}</p>
	<p>XP gained : {{ user.xp }}</p>
</div>
<div id="user_last">
	<p>Last course :</p>
	<button class="course_button" (click)="openDialog(last_course)">
		<div><img alt="language" src="{{ last_course.logo }}" /></div>
		<p>{{ last_course.name }}</p>
		<div><img alt="level" src="{{ last_course.level }}" /></div>
	</button>
</div>
<div id="user_badges">
	@for (badge of badges; track badge.name) {
	<div>
		<img src="{{ badge.logo }}" alt="{{ badge.name }}" />
		<span>{{ badge.description }}</span>
	</div>
	}
</div>
