<!--Display profile pic and username-->
<div id="user_main">
	<div>
		@if (user.photo == null) {
			<img src="{{ `./assets/imgs/${user.photo}` }}" alt="profile" aria-hidden="true" />
		} @else {
			<img src="{{ './assets/imgs/empty_profile.png' }}" alt="profile" aria-hidden="true" />
		}
	</div>
	<h3>{{ user.username }}</h3>
</div>

<!--Display user stats-->
<div id="user_stats">
	<p>Courses completed :</p>
	<p>XP gained : {{ user.experience }}</p>
</div>

<!--Display user last course-->
<div id="user_last">
	<p>Last course :</p>
	@if (user.id_last_course) {
		<button class="course_button" (click)="openDialog(last_course)">
			<div><img alt="language" src="{{ `./assets/imgs/${last_course.logo}` }}" /></div>
			<p>{{ last_course.name }}</p>
			<div><img alt="level" src="{{ `./assets/imgs/${last_course.level}` }}" /></div>
		</button>
	}
</div>

<!--Display user badges-->
<div id="user_badges">
	@for (badge of badges; track badge.name) {
		<div>
			<img src="{{ badge.logo }}" alt="{{ badge.name }}" />
			<span>{{ badge.description }}</span>
		</div>
	}
</div>
