@use '../../../style_modules/variables';
@use '../../../style_modules/tools';
@use '../../../style_modules/fonts';

:host {
	color: variables.$main_text_color;
	align-self: center;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: repeat(3, 1fr);
	gap: variables.$base_gap;
	width: 80%;
	min-height: 120vh;
	padding: variables.$base_gap;

	& > * {
		background-color: variables.$light_bg_color;
		border-radius: 5px;
		padding: variables.$base_gap * 2;
	}
}

#user_main {
	@include tools.flex_center;
	flex-direction: column;
	gap: variables.$base_gap;

	& > div {
		height: 60%;
		aspect-ratio: 1;

		& > img {
			@include tools.img_contained;
		}
	}
}
#user_stats {
	display: flex;
	flex-direction: column;
	grid-row-start: span 2;
	gap: variables.$base_gap;
}
#user_last {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: variables.$base_gap * 2;

	& > button {
		@include tools.course_button;
	}
}

#user_badges {
	grid-column-start: span 2;
	display: flex;
	gap: variables.$base_gap;

	& > div {
		height: 3rem;
		position: relative;

		& > span {
			visibility: hidden;
			position: absolute;
			background-color: variables.$main_bg_color;
			z-index: 1;
			padding: variables.$base_gap;
			border-radius: 5px;
			border: solid 1px white;
			width: 15rem;
			top: -40%;
			left: 130%;
		}

		&:hover > span {
			visibility: visible;
			transition-delay: 0.2s;
		}

		& > img {
			@include tools.hoverable;
			@include tools.img_contained;
		}
	}
}

@media (max-width: 800px) {
	:host {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 1fr);
	}

	#user_stats {
		grid-row-start: auto;
	}

	#user_badges {
		grid-column-start: auto;
	}
}
