@use 'variables';
@use 'tools';
@use 'fonts';

:host {
	color: variables.$main_text_color;
	align-self: center;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: repeat(3, 1fr);
	gap: variables.$base_gap;
	width: 80%;
	min-height: 120vh;
	padding: variables.$base_gap;

	& > * {
		background-color: variables.$light_bg_color;
		border-radius: 5px;
		padding: variables.$base_gap * 1.5;
	}
}

#user_main {
	@include tools.flex_center;
	flex-direction: column;
	justify-content: space-around;
	gap: variables.$base_gap;
	width: 100%;

	& > div.photo_container {
		height: 60%;
		aspect-ratio: 1;

		& > img {
			@include tools.img_contained;
		}
	}

	& > div:not(.photo_container) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-width: 100%;
		max-width: 100%;
		width: 100%;
		height: 15%;
		background-color: variables.$main_button_color_light;
		color: variables.$main_bg_color;
		padding: 2px;
		padding-left: variables.$base_gap / 2;
		border-radius: 5px;

		& > h3 {
			font-size: 1.4rem;
		}

		& > .dropdown {
			position: relative;
			height: 100%;
			aspect-ratio: 1;

			& > button {
				@include tools.main_button;
				height: 100%;
			}

			& > .dropdown_content {
				display: none;
				position: absolute;

				& > div {
					min-width: 120px;
					min-height: 40px;
					font-size: 1.4rem;
					background-color: variables.$main_button_color_light;
					color: variables.$main_bg_color;
					@include tools.flex_center;
					border: 1px solid variables.$main_bg_color;

					&:hover {
						background-color: variables.$main_button_color;
						cursor: pointer;
					}

					&.delete {
						background-color: variables.$main_button_delete;

						&:hover {
							background-color: red;
						}
					}
				}
			}
		}
	}
}

#user_stats {
	display: flex;
	flex-direction: column;
	grid-row-start: span 2;
	gap: variables.$base_gap;

	& > #level {
		height: 1.1rem;
		display: flex;
		align-items: center;

		& > p {
			flex-basis: 100px;
		}

		& > #outer {
			display: flex;
			align-items: center;
			border-radius: 5px;
			overflow: hidden;

			background-color: variables.$main_bg_color;
			height: 100%;
			width: 100%;

			& > #inner {
				background-color: variables.$main_button_color;
				height: 100%;
			}
		}
	}
}

#user_last {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: variables.$base_gap * 2;

	& > button {
		@include tools.course_button;
	}
}

#user_badges {
	grid-column-start: span 2;
	display: flex;
	gap: variables.$base_gap;

	& > div {
		height: 3rem;
		position: relative;

		& > span {
			visibility: hidden;
			position: absolute;
			background-color: variables.$main_bg_color;
			z-index: 1;
			padding: variables.$base_gap;
			border-radius: 5px;
			border: solid 1px white;
			width: 15rem;
			top: -40%;
			left: 130%;
		}

		&:hover > span {
			visibility: visible;
			transition-delay: 0.2s;
		}

		& > img {
			@include tools.hoverable;
			@include tools.img_contained;
		}
	}
}

@media (max-width: 800px) {
	:host {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 1fr);
	}

	#user_stats {
		grid-row-start: auto;
	}

	#user_badges {
		grid-column-start: auto;
	}
}
