$main_bg_color: #0c0820;
$secondary_bg_color: #080e32;
$light_bg_color: #4c4c4c;
$lighter_bg_color: #787777;
$main_button_color: #f2cc4f;
$main_button_color_light: #fbefc8;

$main_text_color: #fffffd;
$paragraph_font_size: 1rem;
$menu_font_size: 1.2rem;
$h3_font_size: 1.8rem;
$h2_font_size: 2.5rem;
$h1_font_size: 5rem;
