* {
	margin: 0;
	padding: 0;
}

@mixin initmain {
	height: 100%;
	width: 100%;
}

html {
	@include initmain;
	font-size: 16px;
}

@media (max-width: 1200px) {
	html {
		font-size: 14px;
	}
}

@media (max-width: 800px) {
	html {
		font-size: 12px;
	}
}

body {
	@include initmain;
}
