// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use './variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100vh;
	width: 100vw;
	font-size: 16px;
	background-color: variables.$main_bg_color;
	overflow: hidden;
}

@media (max-width: 1200px) {
	html {
		font-size: 14px;
	}
}

@media (max-width: 800px) {
	html {
		font-size: 12px;
	}
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	font-family: Roboto, sans-serif;
	overflow: scroll;
}

h1 {
	font-family: Audiowide, Roboto, sans-serif;
	color: variables.$main_button_color;
	font-size: variables.$h1_font_size;
	text-align: center;
}

h2 {
	font-size: variables.$h2_font_size;
}

h3 {
	font-size: variables.$h3_font_size;
}

.backdrop {
	background-color: rgba(50, 50, 50, 0.6);
	backdrop-filter: blur(3px);
}

div.cm-editor {
	border-radius: 5px;
	height: 100%;
	background-color: variables.$main_bg_color;
	border: 2px solid variables.$main_button_color;
	color: variables.$main_text_color;

	& .cm-gutters {
		background-color: variables.$main_button_color;
		color: black;

		& .cm-activeLineGutter {
			background-color: variables.$main_button_color_light;
		}
	}

	& .cm-content {
		& > .cm-activeLine {
			background-color: variables.$secondary_bg_color;
			color: variables.$main_button_color;
		}
	}

	// SELECTION
	&.cm-focused > .cm-scroller > .cm-selectionLayer .cm-selectionBackground {
		background-color: variables.$light_bg_color;
	}

	// AFTER SELECTION
	& .cm-selectionBackground {
		background-color: variables.$secondary_bg_color;
	}
}
