@use '../../variables';
@use '../../tools';
@use '../../fonts';

$home_gap_size: 14vh;

:host {
	color: variables.$main_text_color;
	font-family: Roboto, sans-serif;
	align-self: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: $home_gap_size;
	width: 80%;
	padding-bottom: $home_gap_size;

	& > * {
		@include tools.flex_center;
		flex-direction: column;
		width: 100%;
		gap: $home_gap_size / 2;
	}
}

h1 {
	font-family: Audiowide, Roboto, sans-serif;
	color: variables.$main_button_color;
	font-size: variables.$h1_font_size;
	text-align: center;
	margin-top: $home_gap_size * 2;
}

h2 {
	font-size: variables.$h2_font_size;
}

#main_description {
	font-size: variables.$h2_font_size;
	vertical-align: middle;
	text-align: center;

	& > span {
		color: variables.$main_button_color;
		font-size: variables.$h2_font_size * 1.3;
	}
}

.main_button {
	@include tools.main_button;
}

.course_button {
	@include tools.course_button;
}

.course_list {
	@include tools.flex_center;
	flex-wrap: wrap;
	gap: $home_gap_size / 4;
	width: 100%;
}

#hero_img {
	width: 100%;
	& > img {
		@include tools.img_contained;
	}
}

details {
	width: 100%;
}

summary {
	@include tools.hoverable;
	font-size: variables.$h3_font_size;
	margin-bottom: $home_gap_size / 4;
}

.user_comment_container {
	background-color: variables.$light_bg_color;
	padding: 2%;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	gap: $home_gap_size / 6;

	& > div {
		display: flex;
		align-items: center;
		gap: $home_gap_size / 6;
		width: 100%;

		& > div {
			width: 10%;
			aspect-ratio: 1;

			& > img {
				@include tools.img_contained;
			}
		}

		& > p {
			font-size: variables.$menu_font_size;
		}
	}
}
